
  footer{     
    width:100%; 
    border-top: 10px solid #b2b1bb; 
    padding: 20px;
    height:75px; 
    color:whitesmoke; 
    font-size: large; 
    background-color:#666060; 
    text-align: center; 
    clear: both;

} 